#cards {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}
.card {
    /* 卡片在容器裡的排版 */
    flex: 7% 1 1;
    height: 8vw;
    border: 2px solid #e0e0e0;
    margin: 2px;
    box-sizing: border-box;
    /* 卡片內部元素排版 */
    display: flex;
    /* main axis */
    flex-direction: column;
    justify-content: space-around;
}
.card img {
    max-width: 30%;
    align-self: center;
}
.card p {
    margin: 5px;
    font-size: 1rem;
}
.card p:last-child {
    transform: rotate(180deg);
}
.back {
    background-image: url('./img/ExportedContentImage.png');
    background-size: cover;
}
.paired {
    background: #dae0e3;
}
#header {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end;
    width: 85%;
}
#header .title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#header .title img {
    width: 3em;
}
#header .title h1 {
    margin-left: 0.5em;
    margin-bottom: 0;
}
#header .score {
    margin: 0;
    color: #6c90ac;
}
#header .tried {
    margin-top: 0;
}
.wrong {
    animation-name: wrongAnimation;
    animation-duration: 0.2s;
    animation-iteration-count: 5;
}
@keyframes wrongAnimation  {
    from {
        border: 2px solid red;
    }
    to {
        border: 2px solid #ffd54f;
    };
}
.completed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
.completed-box {
    position: absolute;
    background: rgba(100, 198, 237, 0.8);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
    width: 100%;
    text-align: center;
}
.completed-box p {
    margin: 10px;
}
.completed-box p:nth-of-type(1) {
    font-size: 30px;
    color: #fafafa;
    font-weight: 700;
}
.completed-box p:nth-of-type(2),
.completed-box p:nth-of-type(3) {
    font-size: 18px;
    color: #333;
}